* {
    box-sizing: border-box;
    font-family: "Inter", "Fascinate", sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.btn {
    padding: 3vh 20vw;
    border-radius: 0.7rem;
    background: var(--color-light-pink);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    justify-content: center;
    width: 20.5rem;
    height: 4.25rem;
    flex-shrink: 0;
    color: var(--color-orange);
    text-align: center;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 900;
    line-height: 2rem;
    letter-spacing: 3px;
    border: none;
}

:root {
    --color-orange: #ff7d4c;
    --color-light-pink: #ffddd2;
    --color-light-blue: #83c5be;
    --color-light-gray: #d9d9d9;
    --color-pink: #ffc5c5;
    --color-dark-blue: #006d77;
    --color-background-gray: #ebebeb;
    --color-background-faded-pink: linear-gradient(
        250deg,
        rgb(255, 255, 255) 0%,
        #ffc5c5 60.52%
    );
    --color-background-pink: #FFAFAF;
    --color-black: #000;
    --color-white: #fff;
    --color-gray: #4e4e4e;
    --color-dark-gray: #434343; 
}