html {
    scroll-snap-type: y mandatory;
    font-family: 'Poppins';
}

body {
    background-color: var(--color-background-pink);
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
}

.mandatory {
    scroll-snap-align: start;
    scroll-snap-type: y mandatory;
}

/* Header */
#header {
    height: 100vh;
    width: 100%;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    /* position: relative; */
    align-items: center;
    justify-content: center;

    overflow-y: scroll;
    scroll-snap-type: y proximity;
}

#header-div-img {
    display: flex;
    height: 60vh;
    align-items: center;
    justify-content: center;
}

#header-div-title {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 4vh 5vw;
    background: var(--color-white);
    width: 100%;
    border-radius: 40px 40px 0px 0px;
    height: 40vh;
}

#title-div-time {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--color-dark-blue);
    height: 3.89vh;
    width: 27.07vw;
    border-radius: 7px;
    padding: 0 5px;
}
#time-div-number {
    color: var(--color-white);
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 0.75rem;
}

#title-h1-title {
    color: var(--color-dark-blue);
    font-family: 'Poppins';
    font-size: 2rem;
    font-weight: 700;
}

#title-img-down {
    height: 6.63vh;
    bottom: 0px;
    animation: go-back 2s infinite alternate;
}
@keyframes go-back {
    from {
        transform: translateY(20px);
    }
    to {
        transform: translateY(0);
    }
}
/* Fim header */

/* Header Questionário */

#header-questions {
    display: flex;
    width: 100%;
    z-index: 99;
    
}
#header-h1-question {
    display: flex;
    justify-content: center;
    width: 100%;
    background: var(--color-background-pink);
    padding: 10px;
    border-radius: 0 0 40px 40px;

    color: var(--color-white);
    font-family: 'Poppins';
}

/* Fim */


main {
    background: var(--color-white);
    padding: 0 3vw;
    /* height: 150vh; */
    /* border-radius: 40px; */
}

/* Questões */
.section-questions {
    position: relative;
    height: 100vh;
    padding: 0 3vw;
    
}
.questions-div-asking {
    position: relative;
    top: 12vh;
}

.questions-div-response form {
    display: grid;
    /* grid-template-columns: 1fr 1fr; */
    align-items: self-start;
    position: absolute;
    top: 53vh;
    flex-direction: column;
    gap: 15px;
    width: 88vw;
}

/* Pergunta */
.questions-div-asking {
    display: flex;
    height: 35vh;
    justify-content: center;
    flex-direction: column;
    background: rgba(131, 197, 190, 0.70);
    padding: 2vh;
    border-radius: 10px;
    gap: 5px;
}
.asking-p-question {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    font-size: 1.2rem;
    font-family: 'Poppins';
    font-weight: 700;
}
.asking-h1-number {
    display: flex;
    justify-content: center;
    width: 30px;
    color: var(--color-white);
    font-size: 2rem;
    font-weight: 700;
    background: var(--color-background-pink);
    padding: 0px 18px;
    border-radius: 100%;
}

/* Botão */
.questions-div-response form input {
    height: 20px;
    display: none;
}
.questions-div-response form input + label::before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: rgba(131, 197, 190, 0.70);
    display: inline-block;
    vertical-align: top;
    margin: 0 10px 10px 0;
}
.questions-div-response form input:checked + label:before {
    background-color: var(--color-background-pink);
}

.questions-div-response form label {
    color: var(--color-dark-gray);
    font-weight: 700;
    font-size: 1.14rem;
}
