header {
    background-color: var(--color-background-pink);
    height: 26rem;
    width: 100%;
    color: var(--color-white);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    border-radius: 0 0 10% 10%;
    align-items: center;
    justify-content: center;
}

#header-img-theme {
    width: 17.8rem;
    
}

#header-h1-title {
    position: absolute;
    top: 21rem;
    color: #fff;
    font-size: 2rem;
    font-style: normal;
    font-weight: 900;
    line-height: 2rem;
    letter-spacing: 3px;
    display: flex;
    text-align: center;
    width: 100%;
    height: 39px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    text-shadow: 4px 4px 4px #00000050;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.main-div-explication {
    color: var(--color-black);
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
    padding: 1.2rem;
}

.main-div-separator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin: 1.2rem;
}

.separator-h3-title {
    color: var(--color-black);
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.9rem;
}

.separator-hr-line {
    background-color: var(--color-light-blue);
    border-radius: 0.625rem;
    border: none;
    width: 21rem;
    height: 0.6rem;
}

.main-video {
    height: 14rem;
    width: 100%;
    margin-bottom: 1rem;
}

.main-ul-complement,
#main-ul-complement {
    align-self: flex-start;
    padding: 0.5rem 2rem 2rem 2rem;
}

.main-ul-complement li,
#main-ul-complement li {
    text-decoration: underline;
    padding: 8px;
}

.main-ul-complement li a,
#main-ul-complement li a {
    color: var(--color-black);
    font-weight: 400;
}
.main-div-images {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    width: 90%;
}
.main-img-themeImg {
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
    height: 100%;
}
