body {
    background-color: var(--color-background-gray);
}

#body-div-return {
    width: 3.125rem;
    height: 3.125rem;
    flex-shrink: 0;
    background-color: var(--color-light-blue);
    border-radius: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: fixed;
    margin: 15px;
}

#return-img-arrow {
    width: 1.625rem;
    height: 1.625rem;
}

main {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 100vh;
}

.main-img-primary {
    position: relative;
    bottom: 8vh;
    width: 35vh;
    margin-bottom: 1vh;
}

main h1 {
    color: var(--color-light-blue);
    letter-spacing: 10px;
    text-align: center;
    font-family: Inter;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 900;
    line-height: 1.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    margin-bottom: 1rem;
}

#form-register {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    width: 80%;
}

#form-register label {
    color: var(--color-dark-gray);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 900;
    width: 4.06rem;
    height: 0.625rem;
    margin: 0 0 0 10px;
    font-family: "Inter";
}

#form-register input {
    width: 100%;
    height: 47px;
    border-radius: 7px;
    padding-left: 35px;
    background: var(--color-light-gray);
    border: none;
}

#div-img-lock,
#div-img-user {
    position: absolute;
    height: 18px;
    margin-left: 10px;
    left: 0;
    top: 29%;
}

#div-img-eye, #div-img-eye-slash {
    position: absolute;
    height: 18px;
    margin-left: 10px;
    left: 85%;
    top: 29%;
    filter: contrast(0.2);
} 

#div-img-eye-slash{
    display: none;

}

#div-apelido::placeholder,
#div-password::placeholder,
#div-email::placeholder {
    color: var(--color-dark-gray);
    font-family: Inter;
    font-size: 0.68rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

#main-btn-register {
    padding: 2vh 5vw;
    width: 100%;
    border-radius: 10px;
    background: var(--color-light-pink);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    justify-content: center;
    flex-shrink: 0;
    color: rgba(255, 125, 76, 0.91);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 3px;
    border: none;
    position: relative;
    top: 2vh;
}

.span-required {
    color: rgb(230, 16, 16);
    font-family: Inter;
    font-size: 0.68rem;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    display: none;
}

#div-inputItemApelido, #div-inputItemEmail , #div-inputItemSenha {
    position: relative;
}
