body {
      height: 1500px;
}

header {
      display: flex;
      position: fixed;
      justify-content: space-between;
      margin: 3vh;
      width: 90vw;
}
#header-div-profile {
      display: flex;
      align-items: center;
      gap: 4px;
}
#header-div-container {
      display: flex;
      align-items: center;
      gap: 10px;

}

#header-img-notification {
      padding: 10px;
      
}
#header-div-background-notification {
      padding: 0 4px;
      background: rgb(255, 90, 90);
      border-radius: 100%;
}

#header-div-background-menu {
      display: flex;
      flex-direction: column;
      gap: 5px;
      background: rgb(255, 99, 99);
      padding: 15px 13px;
      width: fit-content;
      border-radius: 100%;
}
.header-div-bar {
      background: rgb(236, 124, 124);
      height: 3px;
      width: 25px;
}