body {
    background-color: var(--color-background-gray);
    padding: 15px;
}

#body-div-return {
    width: 40px;
    height: 40px;
    background-color: var(--color-light-blue);
    border-radius: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: fixed;
}

#return-img-arrow {
    width: 35px;
}

main {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 0 15px;
}

main img {
    width: 295px;
    height: 340px;
}

main h1 {
    color: var(--color-light-blue);
    letter-spacing: 10px;
    color: #83c5be;
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    line-height: 30px;
    display: flex;
    width: 267px;
    height: 68px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

#main-div-formCad {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

#main-div-formCad div {
    position: relative;
}

#main-div-formCad label {
    padding-left: 15px;
    font-weight: 600;
    color: var(--color-gray);
}

#main-div-formCad input {
    width: 315px;
    height: 47px;
    border-radius: 7px;
    padding-left: 35px;
    background: var(--color-light-gray);
    border: none;
}

#div-img-lock,
#div-img-user {
    position: absolute;
    width: 25px;
    height: 25px;
    left: 5px;
    top: 43%;
}

#main-btn-enter {
    width: 327px;
    height: 68px;
    border-radius: 10px;
    background: var(--color-light-pink);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    justify-content: center;
    flex-shrink: 0;
    color: rgba(255, 125, 76, 0.91);
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 30px;
    letter-spacing: 3px;
    border: none;
}
