@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Inter:wght@100;200;300;400;500;600&display=swap');

body {
      height: 1500px;
}

header {
      display: flex;
      position: fixed;
      justify-content: space-between;
      margin: 0.94rem 3vh;
      width: 90vw;
}
#header-div-profile {
      display: flex;
      align-items: center;
      gap: 4px;
}
#header-img-profile {
      height: 3rem;
      width: 2.8rem;

      /* Apagar quando for adicionado a logo */
      position: relative;
      bottom: 3px;
}
#header-label-name {
      color: #515151;
      font-family: 'Inter';
      font-weight: 700;
}

#header-div-container {
      display: flex;
      align-items: center;
      gap: 10px;

}

#header-img-notification {
      padding: 10px;
}
#header-div-background-notification {
      padding: 0 4px;
      /* Transferir cor para o reset */
      background: rgba(255,196,196,0.5);
      opacity: 0.7;
      border-radius: 100%;
}

#header-div-background-menu {
      display: flex;
      flex-direction: column;
      gap: 5px;
      /* Transferir cor para o reset */
      background: rgba(255,196,196,0.3);
      padding: 16px 13px;
      width: fit-content;
      border-radius: 100%;
}
.header-div-bar {
      background: #ffafaf9d;
      width: 1.6875rem;
      height: 0.1875rem;
      border-radius: 10px;
}