
@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Inter:wght@100;200;300;400;500;600&display=swap');

body {
    background: var(--color-light-pink);
}

/* Imagens */
#presentation-img-stethoscope, #presentation-img-nurse {
    position: absolute;
}
#presentation-img-stethoscope {
    height: 60vh;
    width: 100%;
}
#presentation-img-nurse {
    height: 70vh;
    right: 20px;
}
/* Fim imagens */

/* Título */
#title-bnt {
    display: grid;
    position: relative;
    place-content: center;
    gap: 10vh;
    top: 60vh;
}
#title-bnt-h1-title h1 {
    font-size: 2.5rem;
    letter-spacing: 3px;
    font-family: 'Fascinate';
    color: var(--color-dark-blue);
}
#title-bnt-h1-title h1 span {
    font-family: 'Fascinate';
    color: transparent;
    -webkit-text-stroke: 2px var(--color-dark-blue);
}
/* Fim título */

/* Botão Iniciar */ 
#title-bnt h1 a {
    color: var(--color-orange);
    background: var(--color-pink);
    padding: 3vw 25vw;
    border-radius: 10px;
    transition: 0.4s;
}
#title-bnt h1 a:hover {
    background: var(--color-orange);
    color: var(--color-light-pink);
}
/* Obs.: Acrescentar hover */
/* Fim Botão */